@page "/games"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using FrontEND.Entities
@using FrontEND.Data
@implements IAsyncDisposable
@inject IDbContextFactory<FrontEND.Data.AppDbContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="games/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Games">
    <PropertyColumn Property="game => game.Name" />
    <PropertyColumn Property="game => game.ReleaseDate" />
    <PropertyColumn Property="game => game.Price" />

    <TemplateColumn Context="game">
        <a href="@($"games/edit?id={game.Id}")">Edit</a> |
        <a href="@($"games/details?id={game.Id}")">Details</a> |
        <a href="@($"games/delete?id={game.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private AppDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
